.home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home__container h1 {
    color: #6A7FDB;
    font-family: "Poppins";
    letter-spacing: 1px;
    font-size: 2.5rem;
}